<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="line">Line Chart</a>
      </div>
      <div class="col-md-3">
        <a routerLink="bar">Bar Chart</a>
      </div>
      <div class="col-md-3">
        <a routerLink="pie">Pie Chart</a>
      </div>
      <div class="col-md-3">
        <a routerLink="radar">Radar Chart</a>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>